body {
  background-color: rgb(246, 254, 255);
  overflow-x:hidden; /*preventing the horizontal scroll bar if the text jumps outside*/
}
h1 {
  text-align: center;
  font-size: 10vw;
  font-family: handsome-pro;
  font-style: italic;
  font-weight: bolder;
}
h3 {
  text-align: center;
  font-size: 40px;
  font-family: Garamond, serif;
  font-style: italic;
  font-weight: bold;
}
p {
  font-family: Garamond, serif;
  text-align: center;
}
pre {
  font-family: Garamond, serif;
  text-align: center;
}
mark {
  background-color: rgb(204, 225, 255);
}

a:link,
a:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vh;
  text-align: center;
  font-size: 3vh;
  color: black;
  text-wrap: wrap;
  text-decoration: none;
}

a:hover,
a:active {
  background-color: transparent;
  color: black;
}

.nav {
  position: fixed;
  bottom: 2vh;
  left: 2vh;
  text-decoration: none;
  a {
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 10vw;
    transition: ease-in-out 0.25s;
  }
}

.nav:hover {
  img {
    scale: 120%;
  }
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#textContainer{ /*again you have to do an element id bc if you do a class then javascript gets all wonky and confused :(*/
  display: flex;
  flex-direction: column;
  margin: 3vw;
  width: 75vw;
  height: 300vh;
  /*background-color: red;*/
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-family: handsome-pro;
}

.text-row{
  display: flex;
  flex-direction: row;
}

/*have to define all of them separately or else they'll all chunk together :(*/

.textRowA{
  display: block;
  position: relative;
}

.textRowB{
  display: block;
  position: relative;
}

.textRowC{
  display: block;
  position: relative;
}

.textRowD{
  display: block;
  position: relative;
}

.textRowE{
  display: block;
  position: relative;
}

.textRowF{
  display: block;
  position: relative;
}
.textRowG{
  display: block;
  position: relative;
}

.textRowH{
  display: block;
  position: relative;
}


.buttonA{
  display: block;
  position: relative;
  background-color: transparent;
  border: 1 pc black solid;
  border-radius: 100em;
  text-decoration: none;
  width: 75vw;
  height: auto;
  font-family: handsome-pro, sans-serif;
  font-size: 7vw;
  align-items: center;
  margin-bottom: 10vh;
}