body {
  background-color: #ffd5c3;
  overflow-x:hidden; /*preventing the horizontal scroll bar if the text jumps outside*/
}
h1 {
  text-align: center;
  font-family: handsome-pro;
  font-style: italic;
  font-weight: bolder;
}
h3 {
  text-align: center;
  font-size: 40px;
  font-family: Garamond, serif;
  font-style: italic;
  font-weight: bold;
}
p {
  font-family: Garamond, serif;
  text-align: center;
}
pre {
  font-family: Garamond, serif;
  text-align: center;
}
mark {
  background-color: rgb(204, 225, 255);
}

a:link,
a:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vh;
  text-align: center;
  font-size: 3vh;
  color: black;
  text-wrap: wrap;
  text-decoration: none;
}

a:hover,
a:active {
  background-color: transparent;
  color: black;
}

.nav {
  position: fixed;
  bottom: 2vh;
  left: 2vh;
  text-decoration: none;
  a {
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 10vw;
    transition: ease-in-out 0.25s;
  }
}

.nav:hover {
  img {
    scale: 120%;
  }
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x:hidden; /*preventing the horizontal scroll bar if the text jumps outside*/
  overflow-y:hidden; /*preventing the horizontal scroll bar if the text jumps outside*/
  color: #541d05;

}

#textContainer{ /*again you have to do an element id bc if you do a class then javascript gets all wonky and confused :(*/
  display: flex;
  flex-direction: column;
  margin: 3vw;
  width: 75vw;
  height: 200vh;
  /*background-color: red;*/
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-family: handsome-pro;
}

.text-row{
  display: flex;
  flex-direction: row;
}

/*have to define all of them separately or else they'll all chunk together :(*/

.textRowA{
  display: block;
  position: relative;
}

.textRowB{
  display: block;
  position: relative;
}

.textRowC{
  display: block;
  position: relative;
}

.textRowD{
  display: block;
  position: relative;
}

.textRowE{
  display: block;
  position: relative;
}

.textRowF{
  display: block;
  position: relative;
}
.textRowG{
  display: block;
  position: relative;
}

.textRowH{
  display: block;
  position: relative;
}


.buttonA{
  display: block;
  position: relative;
  background-color: #541d05;
  color:#ffd5c3 ;
  border: 3px #541d05 solid;
  border-radius: 100em;
  text-decoration: none;
  width: 75vw;
  height: auto;
  font-family: handsome-pro, sans-serif;
  align-items: center;
  margin-bottom: 10vh;
}

.buttonA:hover{
  background-color: #ffd5c3;
  color:#541d05;
  border: 3px #541d05 solid;
 }

@media all and (max-width: 600px) /*mobile*/ {
  /*temp*/
  #textContainer{
    font-size: 10vw;
  }
  h1{
    font-size: 10vw;
  }
  .buttonA{
    font-size: 7vw;
  }
  .nav{
    img{
      width: 20vw;
    }
  }
}

@media (min-width: 601px) and (max-width: 1000px) /*tablet*/ {
  /*temp*/
  #textContainer{
    font-size: 5vw;
  }
  h1{
    font-size: 9vw;
  }
  .buttonA{
    font-size: 5vw;
  }
  .nav{
    img{
      width: 10vw;
    }
  }
}

@media (min-width: 1001px) /*desktop*/ {
  /*temp*/
  #textContainer{
    font-size: 4vw;
  }
  h1{
    font-size: 7vw;
  }
  .buttonA{
    font-size: 6vw;
  }
  .nav{
    img{
      width: 10vw;
    }
  }
}


