@import url("https://use.typekit.net/xej1fur.css");


.chainprinter{
  font-family: "chainprinter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "chainprinter", sans-serif;
  background-color: white;
  padding: 100px;
  display: flex;
  flex-direction: column;
}

H1 {
  font-family: "chainprinter", sans-serif;
  font-size: 10vw;
  font-weight: 900;
}

H3 {
  font-family: "chainprinter", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;
}

/* mobile */
@media only screen and (max-width: 600px) {
  body {
    padding: 30px;
    background-color: white;
    color: black;
    
  }

  h1 {
    font-size: 10vw; 
    color: black;
    text-align: center;
  }

  
  .button:hover{
    background-color: white;
    padding: 20px;
    color: black;
    text-align: center;
    border: 3px solid black;
    a{
      text-decoration: none;
      color: black;
      align-items: center;
      justify-content: center;
    }

    
    
  }
  .button {
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 25pt;
    border: 3px solid black;
    a{
      text-decoration: none;
      color: white;
      align-items: center;
      justify-content: center;
    }
    
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: red;
    
  }

  .flex-container > div {
    background-color: violet;
    width: 95%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
  }
}

/* tablet */
@media only screen and (min-width: 600px) {
body{
  text-align: center;
  display: flex;
  flex-direction: column;
}
    .button {
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 25pt;
    border: 3px solid black;

    
    a{
      text-decoration: none;
      color: white;
      align-items: center;
      justify-content: center;
    }
    
  }
  .button:hover{
    background-color: white;
    padding: 20px;
    color: black;
    text-align: center;
    border: 3px solid black;
    a{
      text-decoration: none;
      color: black;
      align-items: center;
      justify-content: center;
    }
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }

  .flex-container > div {
    background-color: white;
    width: 28%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

}

/* desktop */
@media only screen and (min-width: 1440px) {
  body {
    padding: 100px;
    background-color: white;
    color: black;
    text-align: center;
    
  }
  
  h1 {
    font-size: 8vw; 
    color: black;
    text-decoration-line: none;
  }

  
  
  .button {
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 25pt;
    border: 3px solid black;

    a{
      text-decoration: none;
      color: white;
      align-items: center;
      justify-content: center;
    }
    
  }
  .button:hover{
    background-color: white;
    padding: 20px;
    color: black;
    text-align: center;
    border: 3px solid black;
    a{
      text-decoration: none;
      color: black;
      align-items: center;
      justify-content: center;
    }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }

  .flex-container > div {
    background-color: white;
    width: 47%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

}
}



/* div.example2 {
  background-color: yellow;
  padding: 20px;
  
}

@media screen and (max-width: 600px) {
  div.example2 {
    display: none;
  }
} */

html {
  scroll-behavior: smooth;
 }
 
 a {
  text-decoration: none;
  color: black;
 } 
 
.how-it-works {
  height: 100vh;
 } 

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
  flex: 1 100%;
}

