/*html{
    cursor: none;
}*/

.wrapper{
    display: flex;
    flex-direction: column;
    height: 300vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.row1, .row2{
    display: flex;
    flex-direction: row;
}

.circle1{
    display: flex;
    height: 30vw;
    width: 30vw;
    border-radius: 100%;
    background-color: white;
    animation: inner-shadow-pop ease-in-out alternate infinite 1s;
    color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1vw;
   
    border: 3px solid black;
}

@keyframes inner-shadow-pop{
    from
    {box-shadow: rgb(115, 0, 255) 0px 0px inset;
    rotate: 0deg;}
    to
    {box-shadow: rgb(255, 0, 222) 10px 10px inset;
    rotate: 360deg;}
}

@keyframes shake-rotate{
    from
    {rotate: -5deg;}
    to
    {rotate: 5deg;}
}

@keyframes shake-position{
    from
    {translate: 0px 0px;}
    to
    {translate: 5px 8px}
}

.circle2{
    display: flex;
    height: 30vw;
    width: 30vw;
    border-radius: 100%;
    background-color: black;
    animation: inner-shadow-pop ease-in-out alternate infinite 1s;
    animation-delay: .5s;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 3px solid white;
    margin: 1vw;
}

.section1{
    display: flex;
    flex-direction: column;
    order: 1;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.section2{
    display: flex;
    order: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: transparent;
}

.section3{
    display: flex;
    order: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.section4{
    display: flex;
    order: 4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    overflow: wrap;
    text-wrap: wrap;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

}

h1{
    color: white;
}

.shake{
    animation: shake-rotate ease-in-out alternate infinite .25s;
}

.circle1:hover, .circle2:hover, .circle1:active, .circle2:active{
    background-image: url(../../images/disco-ball.png);
    background-color: none;
    background-size: cover;
    color: white;
    border: 3px solid white;
  }

@media all and (max-width: 600px) /*mobile*/ {
    .row1, .row2{
        display: flex;
        flex-direction: column;
    }

    .circle1, .circle2{
        height: 50vw;
        width: 50vw;
        margin: 5vh;
        font-size: 10vw;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: flex-start;
        padding-top: auto;
    }

    .section1, .section3{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 2vh;
        padding: 5vw;
    }

    .section2, .section4{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 10vh;
        text-align: center;
        font-size: 7vw;
    }

    .section4{
        width: 75vw;
    }
  }

@media (min-width: 601px) and (max-width: 1000px) /*tablet*/ {
    .row1, .row2{
        display: flex;
        flex-direction: row;
    }

    .circle1, .circle2{
        height: 25vw;
        width: 25vw;
        margin: 5vh;
        font-size: 5vw;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-around;
        padding-top: auto;
    }

    .section1, .section3{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 2vh;
        padding: 5vw;
    }

    .section2, .section4{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 10vh;
        text-align: center;
    }

    .section4{
        width: 75vw;
    }
  }

@media (min-width: 1001px) /*desktop*/ {
    .row1, .row2{
        display: flex;
        flex-direction: row;
    }

    .circle1, .circle2{
        height: 15vw;
        width: 15vw;
        margin: 5vh;
        font-size: 4vw;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: flex-start;
        padding-top: auto;
    }

    .section1, .section3{
        display: flex;
        flex-direction: row;
        height: auto;
        padding: 5vw;
    }

    .section2, .section4{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 5vw;
        text-align: center;
        font-size: 5vw;
    }

    .section4{
        width: 60vw;
    }
  }

  .nav {
    position: fixed;
    bottom: 2vh;
    left: 2vh;
    text-decoration: none;
    a {
      text-decoration: none;
      color: white;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 10vw;
      transition: ease-in-out 0.25s;
    }
  }

  .nav:hover {
    img {
      scale: 120%;
    }
  }