/* Basic reset for body */
body {
  margin: 1vw;
  padding: 2vw;
  background-color: black;
  color: white;
}

/* Container for the text */
.text-container {
  display: inline;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border: 3px solid white;
  padding: 3vw;
}

/* Style the text */
.text {
  font-size: 24px;
  user-select: none; /* Prevent text selection */
  opacity: 0; /* Initially hide text */
  transition: opacity 0.3s ease;
  background-color: blue;
  text-align: justify;
}

/* Custom circle cursor */
.cursor {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: none;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border: 2px solid white;
  transition: width 0.1s ease, height 0.1s ease;
  box-sizing: border-box;
}



.text {
  transition: opacity 0.3s ease;
  font-family: new-zen, sans-serif;
}

/* Make the text visible when the cursor enters the area */
.text.visible {
  opacity: 1; /* Show the text inside the circle */
}

html{
  cursor: none;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
}

.nav {
  position: fixed;
  bottom: 2vh;
  left: 2vh;
  text-decoration: none;
  a {
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 10vw;
    transition: ease-in-out 0.25s;
  }
}

.nav:hover {
  img {
    scale: 120%;
  }
}

@media all and (max-width: 600px) /*mobile*/ {
  .nav{
    img{
      width: 20vw;
    }
  }
}

@media all and (min-width: 601px) /*desktop and tablet*/ {
  .nav{
    img{
      width: 10vw;
    }
  }
}